CREATE TABLE IF NOT EXISTS "members_old" (name string, role string, team string, email string, location string, joinDate string, photoUrl string, status string);
CREATE TABLE IF NOT EXISTS "books_old" (id INTEGER PRIMARY KEY AUTOINCREMENT,
  olId TEXT,
  title TEXT,
  author TEXT,
  published TEXT,
  imageUrl TEXT,
  description TEXT,
  subjects TEXT,
  subjectPlaces TEXT,
  subjectTimes TEXT,
  covers TEXT);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE books (
id INTEGER PRIMARY KEY AUTOINCREMENT,
olId TEXT,
title TEXT,
author TEXT, 
description TEXT, 
published TEXT, 
imageUrl TEXT, 
pages INT, 
isbn TEXT);
CREATE TABLE members (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, role TEXT, team TEXT, email TEXT, location TEXT, joinDate TEXT, photoUrl TEXT, status TEXT);
